<h3>登録する</h3>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="signup_form">
<%= form_with(model: @user, local: true) do |f| %>

  <div class="signup_item">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="signup_item">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="signup_item">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>

  <div class="signup_item">
    <%= f.label :確認用パスワード %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="button">
    <%= f.submit "アカウントを作成する" %>
  </div>
<% end %>
</div>
