<h3><%= @user.name %>さんのページ</h3>

<div class="user_show">
  <p>email: <%= @user.email %></p>

  <p class="past_posts">これまでの投稿</p>
  <% @user.posts.each do |post| %>
  <div class="past_post">
    <p><%= post.content %></p>
    <p><%= image_tag post.image.to_s %></p>
  </div>
  <% end %>
</div>

<p class="to_other_page"><%= link_to '新しく投稿する', new_post_path, class:'to_other_page_txt' %></p>
<p class="to_other_page"><%= link_to "全ユーザーの投稿", posts_path %></p>
