<%= form_with(model: @post, local: true, url: junction_new_or_edit) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <% @post.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="post_image">
    <%= form.label :image %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="post_content">
    <%= form.label :本文 %>
    <%= form.text_field :content %>
  </div>

  <div class="">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "全ユーザー投稿一覧画面へ", posts_path %>
